*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    flex-grow: 0;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

main{
flex-grow: 1;
align-self: center;
}

#contenedor{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.boton{
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 28px;
    background: url(imagenes/closed.svg);
}

.boton_pressed{
    background: url(imagenes/clickeado.svg);
}

.boton_0{
    background: url(imagenes/opened.svg);
}

.boton_1{
    background: url(imagenes/1.svg);
}

.boton_2{
    background: url(imagenes/2.svg);
}

.boton_2{
    background: url(imagenes/2.svg);
}

.boton_3{
    background: url(imagenes/3.svg);
}

.boton_4{
    background: url(imagenes/4.svg);
}

.boton_5{
    background: url(imagenes/5.svg);
}

.boton_6{
    background: url(imagenes/6.svg);
}

.boton_7{
    background: url(imagenes/7.svg);
}

.boton_8{
    background: url(imagenes/8.svg);
}

.casilla {
    float: left;
    background-size: 100%;
    font-weight: 700;
    text-align: center
}

.inputs{
    width: 3rem;
}

.filas{
    /* margin-bottom: 0.1rem; */
    display: flex;
    flex-wrap: nowrap;
}